<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="prism.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-area">
          <!--li><a href="#">Tietoja minusta</a></li>
          <li><a href="#">Osaaminen</a></li>
          <li><a href="#">projektit</a></li>
          <li><a href="#">Rooli</a></li-->
        </ul>
      </nav>
    </header>
    <div class="image-area">
      <!--img src="./img/logo.PNG"-->
    </div>
    <div class="subtitle">
      <h2>Henna-Riikka Tarpila</h2>
    </div>
    <div class="text-area">
      <p>
        Olen toisen vuoden tietojenkäsittelyn opiskelija, joka tykkää
        koodaamisesta ja mallintamisesta. Ticorporaten aikana toimin
        päätoimisena koodarina ja sivutoimisena testaajana Allergiaskanneri
        projektissa. Allergiaskanneri projektin tarkoituksena oli luoda
        sovellus, joka helpottaa sellaisten ihmisten kaupassakäyntiä, joilla on
        allergioita, ja/tai erityisruokavalioita. Alla kerron tarkemmin meidän
        allergiaskanneri projektista, osaamisestani, sekä työskentelystä.
      </p>
    </div>
    <div class="subtitle">
      <h2>Hankittu Osaaminen</h2>
    </div>
    <div class="row">
      <div class="column">
        <img src="./img/Git-Icon.png" alt="Git-kuvake" />
        <p>Git versionhallinta</p>
        <ul>
          <li>Git perusteet</li>
          <li>GitHubin käyttö</li>
          <li>Git-komennot</li>
        </ul>
      </div>
      <div class="column">
        <img src="./img/pwa.png" alt="angularPwa" />
        <p>Angular PWA</p>
        <ul>
          <li>Kirjaston peruskäyttö</li>
          <li>ymmärrys PWA:sta</li>
        </ul>
      </div>
      <div class="column">
        <img src="./img/angular.png" alt="angularLogo" />
        <p>Angular 11</p>
        <ul>
          <li>Angular perusteet</li>
          <li>Komponentit</li>
          <li>Servicet</li>
          <li>HTML, CSS</li>
          <li>Typescript</li>
        </ul>
      </div>
      <div class="column">
        <img src="./img/material.png" alt="angularMaterial" />
        <p>Angular material</p>
        <ul>
          <li>Kirjaston peruskäyttö</li>
          <li>Slide togglet</li>
          <li>Expansion panel</li>
          <li>Progress spinner</li>
          <li>Buttonit</li>
        </ul>
      </div>
    </div>
    <div class="text-area">
      <p>
        Allergiaskanneri projektin aikana opettelin käyttämään Angularia,
        Angular-kirjastoja, sekä Githubia, mikä oli alussa hyvin haastavaa.
        Projektin edetessä opin kuitenkin käyttämään githubia suhteellisen
        hyvin. Yleisimmät komennot tulivat tutuiksi, repositorion luonti
        ja Markdown kieli. Projektin aikana käytin myös visual studio codea,
        sekä autoin firebasen käytössä
      </p>
    </div>
    <div class="subtitle">
      <h2>Työskentely projektissa</h2>
    </div>
    <div class="text-area">
      <p>
        Projektityöskentely ei ollut minulle entuudestaan tuttua, koska en ole
        koskaan aikaisemmin työskennellyt missään projektissa
        mukana. Tämän takia en ole koskaan aikaisemmin käyttänyt myöskään
        Githubia. Paitsi ohjelmistotuotannon muutamalla tunnilla. Tällöin sain
        yleiskäsityksen Scrumista, projektityöskentelystä ja Githubista.
        Allergiaskanneri projektin aikana pääsin harjoittelamaan
        projektityöskentelyä ja käyttämään Githubia. Projektin aikana opin
        ymmärtämään, mitenkä projektityöskentely toimii, ja
        mitenkä Githubia käytetään. Alla on muutamia kuvia meidän sovelluksesta.
      </p>
    </div>

    <div class="row2">
      <div class="column2">
        <img src="./img/Alert.png" alt="Alert_ilmoitus" />
        <p>Alert-ilmoitus</p>
        <p>oma työpanos:</p>
        <ul>
          <li>Tiedot localstoragesta</li>
          <li>Toimintalogiikka</li>
        </ul>
      </div>
      <div class="column2">
        <img src="./img/allergiat.png" alt="Allergiat_näkymä" />
        <p>Allergiat-valikko</p>
        <p>oma työpanos:</p>
        <ul>
          <li>Slide togglet</li>
          <li>Local storage systeemi</li>
          <li>Lista allergioista</li>
          <li>Ulkoasu näkymälle</li>
        </ul>
      </div>
      <div class="column2">
        <img src="./img/Lataus.png" alt="Lataus_näkymä" />
        <p>Latausnäkymä</p>
        <p>oma työpanos:</p>
        <ul>
          <li>Toimintalogiikka</li>
          <li>Ulkoasu näkymälle</li>
        </ul>
      </div>
      <div class="column2">
        <img src="./img/result.png" alt="Tulos_näkymä" />
        <p>Tulosnäkymä</p>
        <p>oma työpanos:</p>
        <ul>
          <li>Hyväksytty näkymä</li>
          <li>Hylätty näkymä</li>
          <li>Kuvakkeet</li>
          <li>Tuotekuvan haku</li>
          <li>Tuotetietojen haku</li>
          <li>Ainesosaluettelo</li>
        </ul>
      </div>
    </div>
    <div class="text-area">
      <p>
        Yäpuolella olevista kuvista saa yleiskäsityksen siitä, mitä olen tehnyt
        projektin aikana. Työskentelin mm. allergia-valikon, latausnäkymän,
        alert-ilmoituksen ja tulosnäkymän parissa.
      </p>
    </div>
    <div class="subtitle">
      <h2>Projektin testaus</h2>
    </div>
    <div class="text-area">
      <p>
        Toimin Allergiaskanneri projektissa sivutoimisena testaajana, joten
        suunnittelin Teemu Huttusen kanssa allergiaskanneri-sovelluksen
        testauksen, testauspäivät, sekä kirjoitimme kaikki tarvittavat raportit.
        Testauspäiviä varten me suunnittelimme esimerkiksi kaikki kysymykset 
        valmiiksi, testauspäivien kulu, sekä ohjasimme testauspäivän.
        Lisäksi minä tein meidän ryhmän kaikki google forms-lomakkeet.
        Alla on kuva meidän testisuunnitelmasta ja bugiraportista. 
         
      </p>
    </div>

    <div class="image-area2" style="overflow-x:auto;">
      <img src="./img/testisuunnitelma.PNG" alt="testisuunnitelma" />
    </div>
    <div class="image-area2" style="overflow-x:auto;">
      <img src="./img/Bugit.PNG" alt="Bugiraportti" />
    </div>
    <div class="subtitle">
      <h2>Koodaus-osio</h2>
    </div>
    <div class="text-area">
      <p>
        Toimin allergiskanneri-projektissa päätoimisena koodajana. 
        Koodaajana korjasin bugeja, loin uutta koodi ja parantelin
        sovelluksemme ulkoasua. Alapuolella näkyy allergia-valikoon,
        latausnäkymään, alert-ilmoitukseen, tulosnäkymään ja ainesosaluetteloon
        tarvittuja koodinpätkiä.
      </p>
    </div>
    <div class="code-container">
      <h2>allergen.service.ts</h2>
      <pre>
      <code class="language-typescript">
        export class AllergenService {
          myAllergens: BehaviorSubject&lt;any[]&gt; = new BehaviorSubject&lt;any[]&gt;([]);
          array$: Observable&lt;any&gt; =  this.myAllergens.asObservable();
          foundAllergens = [];
        
          wheat = [
            { id: '0', name: 'Vehn&auml;', status: false },
            { id: '1', name: 'Ohra', status: false },
            { id: '2', name: 'Ruis', status: false },
            { id: '3', name: 'Kaura', status: false },
            { id: '4', name: 'Hirssi', status: false },
            { id: '5', name: 'Maissi', status: false },
            { id: '6', name: 'Riisi', status: false },
          ];
          seed = [
            { id: '7', name: 'Auringonkukansiemen', status: false },
            { id: '8', name: 'Kurpitsansiemen', status: false },
            { id: '9', name: 'Pellavansiemen', status: false },
            { id: '10', name: 'Seesaminsiemen', status: false },
            { id: '11', name: 'Unikonsiemen', status: false },
            { id: '12', name: 'Pinjansiemen', status: false },
          ];
        </code>
        </pre>
    </div>
    <div class="code-container">
      <h2>allergen.service.ts</h2>
      <pre>
        <code class="language-typescript">
          //get allergen states from local storage
          getWheat() {
            for (let i = 0; i &lt; this.wheat.length; i++) {
              const status = JSON.parse(localStorage.getItem(this.wheat[i].id));
              if (status === null) { localStorage.setItem(this.wheat[i].id, 'false') }
              this.wheat[i].status = JSON.parse(localStorage.getItem(this.wheat[i].id));
              //push ALL the allergens into an array   
                this.addElementToObservableArray(this.wheat[i]);      
            }
          }
          getseed() {
            for (let i = 0; i &lt; this.seed.length; i++) {
              const status = JSON.parse(localStorage.getItem(this.seed[i].id));
              if (status === null) { localStorage.setItem(this.seed[i].id, 'false') }
              this.seed[i].status = JSON.parse(localStorage.getItem(this.seed[i].id));
                this.addElementToObservableArray(this.seed[i]);
            }
          }
          getCitrusfruit() {
            for (let i = 0; i &lt; this.citrusfruit.length; i++) {
              const status = JSON.parse(localStorage.getItem(this.citrusfruit[i].id));
              if (status === null) { localStorage.setItem(this.citrusfruit[i].id, 'false') }
              this.citrusfruit[i].status = JSON.parse(localStorage.getItem(this.citrusfruit[i].id));
                this.addElementToObservableArray(this.citrusfruit[i]);
            }
          }
          </code>
          </pre>
    </div>
    <div class="code-container">
      <h2>allergen.service.ts</h2>
      <pre>
          <code class="language-typescript">
            //add data to local storage
            slidetogglevaluechange1(event, id) {
              localStorage.setItem(id, JSON.stringify(event));
              this.array$.subscribe(allergen =&gt; {
                console.log(allergen);   
              })
            }
          
            getAllergens():Observable&lt;any&gt; {
              return this.myAllergens.asObservable();
            }
          
            getFoundAl() {
              return this.foundAllergens;
            }
          
          
            addElementToObservableArray(item) {
              this.array$.pipe(take(1)).subscribe(arr =&gt; {
                const newArr = [...arr, item];
                this.myAllergens.next(newArr); 
              })
            }
          }
            </code>
            </pre>
    </div>
    <div class="code-container">
      <h2>categories.component.html</h2>
      <pre>
          <code class="language-markup">
           
            &lt;!--Wheat and gluten allergies--&gt;
            &lt;mat-accordion class=&quot;expansionpanel&quot; multi='false'&gt;
              &lt;mat-expansion-panel hideToggle&gt;
                &lt;mat-expansion-panel-header&gt;
                  &lt;mat-panel-title [ngClass]=&quot;['fs' + this.size]&quot;&gt;Viljat&lt;/mat-panel-title&gt;
                  &lt;mat-panel-description&gt;&lt;/mat-panel-description&gt;
                &lt;/mat-expansion-panel-header&gt;
                &lt;div class=&quot;slidetoggle&quot; *ngFor=&quot;let w of this.alServ.wheat&quot;&gt;
                  &lt;div [ngClass]=&quot;['fs' + this.size]&quot;&gt;{{w.name}}&lt;/div&gt; 
                  &lt;div&gt;&lt;mat-slide-toggle [(ngModel)]=&quot;w.status&quot; (ngModelChange)=&quot;this.alServ.slidetogglevaluechange1($event, w.id)&quot;
                     color=&quot;primary&quot;&gt;&lt;/mat-slide-toggle&gt;&lt;/div&gt;
                &lt;/div&gt;
              &lt;/mat-expansion-panel&gt;
            
             
            &lt;!--fruit allergies--&gt;
              &lt;mat-expansion-panel hideToggle&gt;
                &lt;mat-expansion-panel-header&gt;
                  &lt;mat-panel-title [ngClass]=&quot;['fs' + this.size]&quot;&gt; Hedelm&auml;t &lt;/mat-panel-title&gt;
                  &lt;mat-panel-description&gt;&lt;/mat-panel-description&gt;
                &lt;/mat-expansion-panel-header&gt;
                &lt;div class=&quot;slidetoggle&quot; *ngFor=&quot;let f of this.alServ.fruit&quot;&gt;
                  &lt;div [ngClass]=&quot;['fs' + this.size]&quot;&gt;{{f.name}}&lt;/div&gt;
                  &lt;div&gt;&lt;mat-slide-toggle [(ngModel)]=&quot;f.status&quot; (ngModelChange)=&quot;this.alServ.slidetogglevaluechange1($event, f.id)&quot; 
                    color=&quot;primary&quot;&gt;&lt;/mat-slide-toggle&gt;&lt;/div&gt;
                &lt;/div&gt;
              &lt;/mat-expansion-panel&gt;       
            </code>
            </pre>
    </div>
    <div class="text-area2" id="allergia-valikko1">
      <p>
        Yläpuolella näkyy alleriat-valikkoon tarvittuja koodinpätkiä.
        Allergiat-valikkossa käyttäjä pystyy merkkaamaan omat allergiansa ja
        tiedot tallentuvat local storageen. Local storage ei ollut ehkä paras
        ratkaisu tietojen tallentamiseen, sillä jos käyttäjä poistaa
        selaushistorian ja evästeen puhelimestaan, niin myös allergia-tiedot
        poistuvat ja käyttäjä joutuu merkkamaan ne uudelleen. Tämän takia
        tietokannan käyttö olisi ollut ehkä järkevämpi.
      </p>
    </div>
    <div class="text-area2" id="allergia-valikko2">
      <p>
        Tietokannan sijaan me merkkasimme mahdollisia allergioita allergen
        serviceen. Listasta tuli aika pitkä ja vain pieni osa niistä on
        näkyvillä. (ylin kuva.) Lista on pääasiassa minun tekemä, samoin
        categories.component.html tiedosto. Listassa jokaisella allergialla on
        oma id, nimi ja status. Aluksi status on false, mutta kun käyttäjä
        valitsee jonkun allergian, tämän status muuttuu trueksi ja tieto
        tallentuu local storageen. Myöhemmin tallennetut allergia-tiedot haetaan
        local storagesta.
      </p>
    </div>

    <div class="code-container">
      <h2>navigation.component.html</h2>
      <pre>
            <code class="language-markup">
             
              &lt;div *ngIf=&quot;loaderService.isLoading |async&quot; class=&quot;Loader-container&quot;&gt;
              &lt;mat-spinner&gt;&lt;/mat-spinner&gt;
              &lt;P&gt;Tuotetietoja etsit&auml;&auml;n&lt;/P&gt;
              &lt;/div&gt;       
              </code>
              </pre>
    </div>
    <div class="code-container">
      <h2>loader.service.ts</h2>
      <pre>
          <code class="language-typescript">
            import { Injectable } from '@angular/core';
            import { BehaviorSubject } from 'rxjs';
            
            @Injectable({
              providedIn: 'root'
            })
            export class LoaderService {
            
              public isLoading: BehaviorSubject&lt;boolean&gt; = new BehaviorSubject&lt;boolean&gt;(false);
            
              constructor() { }
            }
            </code>
            </pre>
    </div>
    <div class="code-container">
      <h2>interceptor.service.ts</h2>
      <pre>
            <code class="language-typescript">
              import { HttpEvent, HttpHandler, HttpInterceptor, HttpRequest } from '@angular/common/http';
              import { Injectable } from '@angular/core';
              import { Observable } from 'rxjs';
              import { finalize } from 'rxjs/operators';
              import { LoaderService } from './loader.service';
              
              @Injectable({
                providedIn: 'root'
              })
              export class InterceptorService implements HttpInterceptor {
              
                constructor(public loaderService: LoaderService) { }
                intercept(req: HttpRequest&lt;any&gt;, next: HttpHandler): Observable&lt;HttpEvent&lt;any&gt;&gt; {
                  this.loaderService.isLoading.next(true);
                  return next.handle(req).pipe(
                    finalize(
                      () =&gt; {
                        this.loaderService.isLoading.next(false);
                      }
                    )
                  )
                }
              }             
              </code>
              </pre>
    </div>
    <div class="text-area2" id="latausikkuna">
      <p>
        Yläpuolella näkyy latausnäkymään tarvitut koodinpätkät. Latausnäkymä
        tulee näkyviin silloin, kun tuotetietoja etsitään. Esimerkiksi tuotteen
        skannauksen jälkeen. Ulkoasu latausnäkymään löytyy
        navigation.component.ts-tiedostosta. Latausnäkymä näkyy vain, jos loader
        servicen isloading arvo on totta. Alussa se on asetuttu falseksi. Kun
        Foodien tietokantaan otetaan yhteyttä arvo muutetaan trueksi ja kun
        tuotetiedot löydetään/ei löydetä, arvo asetetaan takaisin falseksi.
      </p>
    </div>
    <div class="code-container">
      <h2>scanner.component.ts</h2>
      <pre>
              <code class="language-typescript">
                ChechkAllergies(){
                  let AllergiesFound = [];
                  
                  for (let i=0; i&lt;localStorage.length; i++)  
                  {  
                    let key = localStorage.getItem(localStorage.key(i)); 
                    if(key === 'true'){
                      AllergiesFound.push(key)
                      console.log(AllergiesFound);
                    }
                  } 
                  if(AllergiesFound.length === 0){
                    alert('allergioita ei ole asetettu. K&auml;y lis&auml;&auml;m&auml;ss&auml; allergia tiedot valikosta');
                  }
                } 
                </code>
                </pre>
    </div>
    <div class="text-area2" id="alert-ilmoitus">
      <p>
        Yläpuolella näkyy alert-ilmoitukseen tarvittu koodinpäpätkä. Käyttäjälle
        näytetään alert-ilmoitus, jos hän ei ole valinnut yhtäkään allergiaa
        allergia-valikosta.
      </p>
    </div>
    <div class="Button-container">
      <button id="btn1">ts</button>
      <button id="btn2">html</button>
    </div>

    <div class="code-container1-relative" id="code1">
      <h2>result.component.ts</h2>
      <pre>
                <code class="language-typescript">
                  ngOnInit(): void {
                    this.size = this.fontService.getFontSize();
                    this.updateHeader('SKANNAUSTULOS');
                    setTimeout(()=&gt;{
                      this.barcodeService.getData().subscribe((response) =&gt; {
                 
                        this.data = response;
                        this.code = this.barcodeService.getBarcode();
                      
                        if(this.data &amp;&amp; this.data.ingredients &amp;&amp; this.data.ingredients.lenght !== 0) {
                        this.compare(this.data.ingredients);
                        }
                  
                        if (this.foundAl.length !== 0) {
                          this.image = 'https://cdn.s-cloud.fi/v1/h480w320/product/ean/' + this.code + '_kuva1.jpg';      
                          this.restext = 'VAROITUS!';
                          this.logo = 'error';
                          this.logocolor = 'warn';
                          this.description =
                            'sopimattomat ruoka-aineet:'
                            this.foundAllergies = this.foundAl.join(&quot;, &quot;);
                  
                        } else {
                          this.image = 'https://cdn.s-cloud.fi/v1/h480w320/product/ean/' + this.code + '_kuva1.jpg';  
                          this.restext = 'TURVALLINEN!';
                          this.logo = 'check_circle';
                          this.logocolor = 'accent';
                        }
                      }); // subscribe end
                    },0)
                   
                  } // on init end    
                  </code>
                  </pre>
      <div class="code-container1-absolute" id="code2">
        <h2>result.component.html</h2>
        <pre>
                    <code class="language-markup">
                     
                      &lt;div class=&quot;productNotFoundView&quot; [ngClass]=&quot;['fs' + size]&quot; *ngIf=&quot;data === null || data &amp;&amp; data.length === 0&quot;&gt;
                      &lt;img src=&quot;../assets/img/ProductNotFound.png&quot;&gt;
                      &lt;P&gt;Tuotetta ei l&ouml;ytynyt&lt;/P&gt;
                      &lt;p&gt; {{code}}&lt;/p&gt;
                        &lt;button class=&quot;backBtn&quot; mat-fab color=&quot;primary&quot; routerLink=&quot;/scanner&quot;&gt;
                          &lt;mat-icon&gt;arrow_back&lt;/mat-icon&gt;
                        &lt;/button&gt;
                    &lt;/div&gt;
                    
                    &lt;div [ngClass]=&quot;['fs' + size]&quot; *ngIf=&quot;data &amp;&amp; data.lenght !== 0&quot;&gt;
                     &lt;img src=&quot;{{image}}&quot; (error)=&quot;this.image='../assets/img/NotFound.png'&quot;/&gt;
                     &lt;P id=&quot;fs4-s&quot;&gt;{{data.name}}&lt;/P&gt;
                      &lt;div id=&quot;iconDiv&quot;&gt;&lt;mat-icon class=&quot;ingredients&quot; color=&quot;{{logocolor}}&quot;&gt;{{logo}}&lt;/mat-icon&gt;&lt;/div&gt;
                      &lt;div [ngClass]=&quot;['fs' + size]&quot; class=&quot;result-text&quot;&gt;{{restext}}&lt;/div&gt;
                      &lt;P&gt;{{description}}&lt;/P&gt;
                      &lt;div [ngClass]=&quot;['fs' + size]&quot; class=&quot;allergies-text&quot;&gt;{{foundAllergies}}&lt;/div&gt;
                      &lt;div&gt;&lt;button mat-raised-button color='primary' class='listBtn' [ngClass]=&quot;['fs' + size]&quot; 
                        routerLink=&quot;/ingredients&quot;&gt;Ainesosaluettelo&lt;/button&gt;
                        &lt;button class=&quot;backBtn2&quot; mat-fab color=&quot;primary&quot; routerLink=&quot;/scanner&quot;&gt;
                          &lt;mat-icon&gt;arrow_back&lt;/mat-icon&gt;
                        &lt;/button&gt;&lt;/div&gt;
                    &lt;/div&gt;       
                      </code>
                      </pre>
      </div>
    </div>
    <div class="text-area2" id="result1">
      <p>
        Yläpuolella näkyy tulosnäkymään tarvituja koodinpätkiä. Tulosnäkymässä
        käyttäjälle kerrotaan, onko tuote turvallinen, vai ei. TS-tiedostossa
        haetaan tuotetiedot barcode-servicestä subscriben avulla. Observableja
        ja subscribea tarvittiin siihen, että tiedot välittyy sovelluksessa
        reaaliaikaisesti. Alussa tämä toteutettiin ilman subscribea ja
        observableja, mutta me huomasimme, että jos käyttäjä käy muuttamassa
        skannauksien välissä allegia-tietojaan, tulosnäkymä näyttää väärän
        tuloksen. Lisäksi ts-tiedostossa verrataan tuotetietoja merkattuihin
        allergia-tietoihin,jonka perusteella näytetään turvallinen tai ei
        turvallinen näkymä.
      </p>
    </div>
    <div class="text-area2" id="result2">
      <p>
        html-tiedostossa on kaksi ngIf-lausetta. Jos tuotetta ei löydetä,
        näytetään teksti "tuotetta ei löytynyt". Jos tuote löydetään näytetään
        tuotteen kuva, tuotteen nimi, sekä kerrotaan käyttäjälle onko tuote
        turvallinen vai ei. Jos tuote ei ole turvallinen, käyttäjälle näytetään
        sopimattomat ainesosat.
      </p>
    </div>

    <div class="Button-container">
      <button id="btn3">ts</button>
      <button id="btn4">html</button>
    </div>

    <div class="code-container2-relative" id="code3">
      <h2>ingredients.component.ts</h2>
      <pre>
                      <code class="language-typescript">
                        export class IngredientsComponent implements OnInit {
                          data: any | null;
                          size: string;
                        
                          constructor(
                            private router: Router,
                            private barcodeService: BarcodeService,
                            public fontService: FontService,
                            public headerService: HeaderService,
                          ) {}
                        
                          ngOnInit(): void {
                            this.size = this.fontService.getFontSize();
                            this.updateHeader('AINESOSALUETTELO');
                            setTimeout(()=&gt;{
                              this.barcodeService.getData().subscribe((response) =&gt; {
                                 this.data = response;
                              });
                            },0)
                          }
                        </code>
                        </pre>

      <div class="code-container2-absolute" id="code4">
        <h2>ingredients.component.html</h2>
        <pre>
                      <code class="language-markup">
                       
                    &lt;div [ngClass]=&quot;['fs' + size]&quot; *ngIf=&quot;data === null ||data &amp;&amp; data.length === 0&quot;&gt;
                    &lt;p&gt;Ainesosaluetteloa ei l&ouml;ydy&lt;/p&gt;
                    &lt;div&gt;&lt;button mat-raised-button color='primary' class='listBtn' routerLink=&quot;/result&quot;&gt;Edellinen sivu&lt;/button&gt;&lt;/div&gt;
                    &lt;/div&gt;
                    
                    &lt;div [ngClass]=&quot;['fs' + size]&quot; *ngIf=&quot;data &amp;&amp; data.lenght !== 0&quot;&gt;
                    &lt;p&gt;{{data.ingredients}}&lt;/p&gt;
                    &lt;div&gt;&lt;button class=&quot;backBtn&quot; mat-fab color=&quot;primary&quot; routerLink=&quot;/result&quot;&gt;
                    &lt;mat-icon&gt;arrow_back&lt;/mat-icon&gt;
                    &lt;/button&gt;&lt;/div&gt;
                    &lt;/div&gt;       
                        </code>
                        </pre>
      </div>
    </div>

    <div class="text-area2" id="ainesosaluettelo">
      <p>
        Yläpuolella näkyy ainesosaluetteloon tarvitut koodinpätkät.
        TS-tiedostossa haetaan ainesosaluettelo, joka näytetään käyttäjälle.
        html-tiedostossa on kaksi ngIf-lausetta. Jos, ainesosaluettelo ei löydy,
        tällöin näytetään teksti "Ainesosaluetteloa ei löydy". Jos
        Ainesosaluettelo löydetään, tällöin näytetään ainesosaluettelo.
        Kummassakin näkymässä on myös takaisin-nappi.
      </p>
    </div>

    <div class="subtitle">
      <h2>Itsearviointi</h2>
    </div>
    <div class="text-area3">
      <p id="end-text1">
        Lähdin allergiaskanneri-projektiin mukaan aika kokemattomana. En ole
        koskaan työskennellyt missään ohjelmistokehitys projektissa mukana,
        joten projektityöskentely ja githubin käyttö tuli uutena asiana.
        Angularia olen käyttänyt web-sovelluskehitys kurssilla, mutta hyvin
        ohjatusti, lähinnä seurannut opetusvideoita.
      </p>
    </div>
    <div class="text-area3">
      <p>
        Allergiaskanneri-projektin aikana pääsin itse käyttämään angularia ja
        kokeilemaan erilaisia asioita. Itse kokeillessa jouduin miettimään,
        kuinka tietyt toiminnallisuudet saadaan toteutettua ja kokeilujen kautta
        myös ymmärrys angularista kasvoi. Koen osaavani käyttää nyt angularia
        suhteellisen vaivattomasti, vaikka observablet ja subscribet
        tuottavatkin hieman tuskaa monimutkaisen rakenteen takia.
      </p>
    </div>
    <div class="text-area3">
      <p>
        En kuitenkaan koe olevani täydellinen koodari Allergiaskanneri projektin
        jälkeen, mutta ainakin pientä kehitystä on tapahtunut. Pystyn
        kirjoittamaan esimerkiksi tutoriaalien perusteella koodia, etsimään
        esimerkkejä googlesta, sekä ymmärrän aika hyvin muiden kirjoittamaa
        koodia. Lisäksi pystyn jonkun verran tuottamaan omaa koodia. Tämän
        projektin aikana oikeastaan jouduin aika paljon itse miettimään, mitenkä
        tietyt asiat saadaan ratkaistua, kun googlesta ei meinannut löytyä apua.
        Minua kuitenkin huolestuttaa, ettei kirjoittamani koodi ole aina
        arkitehtuurilta oikeanlaista koodia.
      </p>
    </div>
    <div class="text-area3">
      <p id="end-text2">
        Koen kuitenkin olevani paljon valmiimpi seuraavaan projektiin, sillä
        Allergiaskanneri-projektin aikana opin ymmärtämään, kuinka projektin
        parissa työskennellään ja opin käyttämään Githubia. Kehityin myös
        koodaamisessa saadessani apua muilta ryhmäläisiltäni.
      </p>
    </div>

    <script src="prism.js"></script>
    <script src="script.js"></script>
  </body>
</html>
